{% extends "base.html" %}

{% block start %}

<style>
    .weather-card {
        perspective: 1000px;
        height: 250px;
        position: relative;
    }

    .text-muted {
        color: #000000 !important;
    }

    .weather-front,
    .weather-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 15px;
        top: 0;
        left: 0;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.6s;

    }

    .weather-front {
        background: #4b4b4b;
        font-size: 1.5rem;
        font-weight: bold;
        transform: rotateY(0deg);
        color: rgb(255, 255, 255);
    }

    .weather-back {
        background: #ffffff;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        transform: rotateY(180deg);
        flex-direction: column;
    }

    .weather-card:hover .weather-front {
        transform: rotateY(-180deg);
    }

    .weather-card:hover .weather-back {
        transform: rotateY(0deg);
    }

    .h-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .h-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }
</style>


<div class="container d-flex justify-content-center pt-5">
    <div class="col-md-6 col-lg-6 p-0 justify-center" style="position: relative; top: 10px;">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group shadow-lg">
                <!-- Input -->
                <input type="text" 
                       name="city" 
                       class="form-control"
                       placeholder="🌍 Enter City Name"
                       style="background: rgba(255,255,255,0.8); border: 2px solid #4facfe; border-radius: 10px 0 0 10px;">

                <!-- Button -->
                <button type="submit" 
                        class="btn text-white"
                        style="background: linear-gradient(45deg, #4facfe, #00f2fe); border-radius: 0 10px 10px 0;">
                    <i class="fa fa-cloud mr-2"></i> Get Weather
                </button>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <h3 class="pt-5 text-center">THE WEATHER APP</h3>
    <div class="row">
        <div class="card m-1 shadow-lg text-center text-muted">
            <h4>Day</h4>
            <div class="text-muted">
                <h5>{% now "jS F Y" %}</h5>
            </div>
        </div>
        <div class="col-md-7 col-lg-7" style="height: 450px; overflow: none; background: transparent;">
            <div class="card m-1 shadow-lg" style="background-color: transparent;">
                <div class="card-body" style="background-color: transparent;">
                    {% if weather_data %}
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card shadow-lg h-card"
                                style="background: linear-gradient(to bottom,#858585, #797979);">
                                {% if weather_data.error %}
                                <div class="card-body text-center text-danger">
                                    <h5>{{ weather_data.error }}</h5>
                                </div>
                                {% else %}
                                <div class="card-body text-center"
                                    style="background: linear-gradient(to bottom,#414141, #797979); color: whitesmoke;">
                                    <h3 class="card-title">{{ weather_data.city|title }}</h3>
                                    <img src="http://openweathermap.org/img/wn/{{ weather_data.icon }}@2x.png"
                                        alt="Weather icon" class="mb-3">
                                    <h4>{{ weather_data.temp }} °C</h4>
                                    <p class="text-muted">{{ weather_data.description|title }}</p>
                                </div>
                                {% endif %}
                                {% if weather_data and not weather_data.error %}
                                <div class="card p-2 d-flex justify-content-center h-card"
                                    style="background: linear-gradient(to bottom, #ff7e5f, #feb47b);">
                                    <a href="{% url 'addCity' weather_data.city %}" class="btn shadow-lg"
                                        style="background: linear-gradient(to bottom, #ff7e5f, #feb47b);">
                                        <i class="fa"></i> Add to Hot Places
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
        <div class="col-md-5 col-lg-5">

            <div class="card m-1 shadow-lg"
                style="max-height: 598px; overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none; background-color: transparent;">
                <div class="card-body" style="background-color: transparent;">
                    <div class="mt-2">
                        <div class="container text-center">
                            <h5>🔥 Hot Places</h5>
                        </div>
                        {% if hot_places %}


                        <div class="row mt-3 justify-content-center">
                            {% for place in hot_places %}
                            <div class="col-md-6 col-lg-4">
                                <div class="card shadow-lg text-center mb-3 weather-card h-card"
                                    style="background-color: rgb(94, 94, 94);">

                                    <div class="weather-front">
                                        <h4>{{ place.city|title }}</h4>
                                    </div>


                                    <div class="weather-back" style="background-color: #737373;">
                                        <img src="http://openweathermap.org/img/wn/{{ place.icon }}@2x.png"
                                            alt="Weather icon" class="mb-2">
                                        <p><strong>{{ place.temp }} °C</strong></p>
                                        <p class="text-muted">{{ place.description|title }}</p>
                                        <a href="{% url 'removeCity' place.id %}"
                                            class="btn btn-sm btn-danger mt-2 shadow">
                                            Remove
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% elif not hot_places %}
                        <div class="container text-center mt-5">
                            <h6 class="text-muted">No Hot Places Added Yet!</h6>
                            {% endif %}

                        </div>


                    </div>
                </div>
            </div>
        </div>
        


    </body>

    </html>


    {% endblock %}
